## Ignore TFstate file
*.tfstate
*/*.tfstate

## Ignore terraform.lock.hcl
*.terraform.lock.hcl
*.hcl

## Ignore PEM file
*.pem
*/*.pem
*/**/*.pem

## Ignore DS_Store
.DS_Store
*/**/.DS_Store

## Ignore Terraform Plan output
*.plan
tfplan.out
*.out